body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
